/* Style personnalisé pour les boutons FullCalendar */
.fc-button-primary {
    background-color: #3F6F99 !important;
    /* Couleur de fond rouge */
    color: #fff;
    /* Texte en blanc */
    border-color: #000000;
    /* Bordure rouge */
}

/* Style personnalisé pour le bouton "Aujourd'hui" */
.fc-today-button {
    background-color: #3F6F99 !important;
    /* Couleur de fond verte */
    color: #fff;
    /* Texte en blanc */
    border-color: #000000;
    /* Bordure verte */
}





