{% extends 'base.html.twig' %}

{% block title %}Succès ✅
{% endblock %}

{% block body %}


		<h1>Votre arrivée a bien été supprimée ! ✅</h1>
<a href="{{ path('app_slider') }}#AnimationCar">Retour</a>
		
{% endblock %}