{% extends 'base.html.twig' %}

{% block title %}Succès ✅
{% endblock %}

{% block body %}


		<h1>Votre menu a bien été enregistré ! ✅</h1>
		<h4>Bon appétit !</h4>
<a href="{{path('app_slider')}}">Retour au slider</a>
		
{% endblock %}
