{# {% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .menusMidiSoir {
            display: flex;
            justify-content: space-between;
        }

        .midi, .soir {
            flex: 1;
            text-align: center;
        }

        .bouttonModifier {
            margin: 20px;
            display: flex;
            justify-content: center;

        }

          #alerteSuppression {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            z-index: 1000;
        }

       
    </style>
{% endblock %}

{% block body %}

    <h1 style="text-align: center; margin: 2%;">Modifier un des Menus</h1>

    {{ form_start(form) }}

     

      
    </div>

   <div class="bouttonModifier">
        <button type="submit" class="btn btn-secondary">Enregistrer</button>
    {{ form_end(form) }}
     


    

    </div>

   {% if menu.id is defined %}
    {# Formulaire de suppression #}
    <div class="formulaireSuppression">
        <form action="{{ path('app_menu_supprimer', {'id': menu.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endif %}


   
{% endblock %} #}
